@font-face {
    font-family: "Art-nuvo";
    src: url(/css/Art-nuvo.otf)
}

:root{
    --color-primario:#87B7DE;
    --color-secundario:#E3B5CF;
    --color-terciario: #580d0c;
    --color-claro: #F1EAE5;
    --color-oscuro: #02020C;
    --fuente-primaria: "Art-nuvo";
    --fuente-secundaria: "Montserrat";
}

/*
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    */

html{
    font-size: 1rem;
    font-family: var(--fuente-secundaria);
}

body{
    background-color: var(--color-claro);
}

header{
    background-color: var(--color-primaria);
    font-family: var(--fuente-primaria);
    font-size: 30px;
    color: var(--color-oscuro);
}

h2{
    font-family: var(--fuente-secundaria);
    font-size: 30px;
    color: var(--color-oscuro);
}

ul{
    list-style: none;
}

a{
    color:#02020C;
    text-decoration: none;
}

footer{
    background-color: var(--color-primario);
}

.footer__detalles{
    background-color: #a2d1f8;
    text-align: center;
    color: var(--color-terciario);
}

.fa-instagram{
    font-size: 40px;
}

.fa-whatsapp{
    font-size: 40px;
}