@font-face {
    font-family: "Art-nuvo";
    src: url("Art-nuvo.otf")
}

:root{
    --color-primario:#87b7df;
    --color-secundario:#E3B5CF;
    --color-terciario: #580d0c;
    --color-claro: #F1EAE5;
    --color-oscuro: #000000;
    --fuente-primaria: "Art-nuvo";
    --fuente-secundaria: "Montserrat";
}

html{
    font-size: 1rem;
}

body{
    margin: 0%;
    background-color: var(--color-claro);
    font-family: var(--fuente-secundaria);
}

header{
    background-color: var(--color-claro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    top: 0px;
    padding: 1.5%;
    font-family: var(--fuente-primaria);
    font-size: 20px;
    z-index: 20;
}

.img_log{
    width: 70px;
}

.header_navegacion{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /*flex-wrap: wrap;*/
}

.header_pagina{
    padding-left: 5%;
}

ul{
    list-style: none;
}

a{
    color: var(--color-primario); /*me rompió todo*/
    text-decoration: none;
}

a:hover{
    color: var(--color-oscuro);
}

.main_presentacion{
    display: flex;
    flex-direction: column;
    padding: 5%;
    text-align: center;
    background-image: url("../imagenes/fondo.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    font-family: var(--fuente-primaria);
    font-size: 70px;
}

.seccion{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.banner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-primario);
    margin: 5% 0% 5% 0%;
    padding: 5%;
}

.col{
    padding: 4%;
}


h1{
    font-family: var(--fuente-primaria);
    font-size: 50px;
    color: var(--color-oscuro);
}

h2{
    font-family: var(--fuente-primaria);
    font-size: 50px;
    color: var(--color-oscuro);
}

.productos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1;
    align-items: center;
    gap: 10px 10px;
    grid-column-start: 1;
    grid-column-end: 3;
}

footer{
    margin-top: 2%;
    background-color: var(--color-primario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2%;
}

.footer__detalles{
    background-color: #a2d1f8;
    text-align: center;
    color: var(--color-terciario);
}

.fa-instagram{
    font-size: 40px;
    color: #000000;
}

.fa-whatsapp{
    font-size: 40px;
}
